
{% block body %}
    <h1>Edit Reponse</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reclamations_by_user', {'id': id_user}) }}">Retour à mes réclamations</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
