{% extends '/home/index.html.twig' %}
{% block body %}
    <div class="container" style="margin-top:5%;">
     
        <div class="card p-2 shadow">
        
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center mt-3">
                    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

