
{% extends '/dashboard/base.html.twig' %}
{% block title %} Nouvelle Formation {% endblock %}

{% block content %}
  <h1 style="text-align: center; margin-top: -50%;">Ajouter Formation</h1>
  <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}"></a></li>

    {{ include('formation/_form.html.twig') }}
     <div style="display: flex; justify-content: center; gap:10px;">
     <a class="btn" href="{{ path('app_formation_index') }}" style="background-color: #4771cb; color: white; padding: 8px 15px; border-radius: 5px; text-decoration: none; font-size: 0.9rem;">Retour à la liste <i data-feather="arrow-left-circle"></i> </a>
     </div>

{% endblock %}
