<style>
footer .social-icons {
  margin-top: 20px;
  text-align: center; /* Centre les icônes */
}

footer .social-icons a {
  color: #33ccc5; /* Couleur de l'icône */
  margin: 0 10px;
  font-size: 24px; /* Taille de l'icône */
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #4771cb; /* Couleur au survol */
}

footer{
    background-color: rgb(239, 235, 235)
}
</style>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center"> <!-- Ajout de text-center pour centrer le contenu -->
        <p>Copyright © 2025 Worksphere</p>

        <!-- Icônes sociales centrées -->
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
