<!DOCTYPE html>

<title>Edit Meeting</title>

{% block body %}
    <h1>Edit Meeting</h1>

    {{ include('meeting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_meeting_index') }}">back to list</a>

    {{ include('meeting/_delete_form.html.twig') }}
{% endblock %}
