<form method="post" action="{{ path('app_reservation_delete', {'id_r': reservation.id_r}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id_r) }}">
    <button class="btn">Delete</button>
</form>
