<form method="post" action="{{ path('app_evenement_sponsor_delete', {'evenement_id': evenement_sponsor.evenement.idEvent, 'sponsor_id': evenement_sponsor.sponsor.idSponsor}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement_sponsor.evenement.idEvent ~ evenement_sponsor.sponsor.idSponsor) }}">
    <button class="btn">Supprimer</button>
</form>