<form method="post" action="{{ path('app_offre_delete', {'id_offre': offre.id_offre}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id_offre) }}">
<button class="btn btn-delete" title="Supprimer">
            <i class="far fa-trash-alt"></i> Supprimer
        </button></form>
