<form method="post" action="{{ path('app_offre_delete', {'id_offre': offre.id_offre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id_offre) }}">
    <button class="btn">Delete</button>
</form>
