<!DOCTYPE html>

<title>New Offre</title>

{% block body %}
    <h1>Create new Offre</h1>

    {{ include('offre/_form.html.twig') }}

    {% if context == 'front' %}
        <a href="{{ path('app_offre_front_index') }}">Back to list</a>
    {% else %}
        <a href="{{ path('app_offre_index') }}">Back to list</a>
    {% endif %}
{% endblock %}
